@use './assets/default';
$font: 'Arial';
$text-col: #797979;
$text-hover-col: #797979;

.nav {
    background-color: #fff;
    box-shadow: 0 0 30px 0 #0002;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 24px;
        text-transform: uppercase;
    }
    .menu {
        list-style: none;
        display: flex;
        gap: 32px;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $text-col;
            font-weight: 600;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            &:hover {
                color: $text-hover-col;
            }
        }
    }
}

.bod {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.btn {
    text-align: center;
    text-decoration: none;
    padding: 13px 32px;
    display: inline-block;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn-primary {
    @extend .btn;
    background-color: #fff;
    color: #797979;
    &:hover {
        box-shadow: 0 10px 30px 0 #fff;
    }
}
